.main {
  display: flex;
  flex-direction: column;
}

.formAndPreviousCard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cardPreview {
  background-color: rgb(10, 66, 2);
  width: 50%;
  padding-left: 250px;
}

.titleCardPreview {
  font-size: 30px;
  font-style: italic;
  font-weight: bold;
}

.allCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 100px;
  gap: 40px;
  background-color: beige;
}

.ojectCard {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
