.header {
  font-size: x-large;
  font-style: italic;
  font-weight: bold;
  padding-left: 30px;
  padding-top: 30px;
}

.main {
  display: flex;
  flex-direction: column;
}

.formAndPreviousCard {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
