.main {
  display: flex;
  flex-direction: column;
}

.formAndPreviousCard {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.titleCardPreview {
  font-size: 30px;
  font-style: italic;
  font-weight: bold;
}

.cardPreview {
  background-color: rgb(232, 233, 214);
}
