.form {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: left;
  padding: 40px;
  background-color: rgb(180, 183, 180);
  width: 50%;
}

.titleForm {
  font-size: 30px;
  font-style: italic;
  font-weight: bold;
}
